.cardGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  gap: 1rem;
  > p {
    color: #ffcc0a;
    font-weight: 700;
    justify-self: center;
  }

  font-size: 2rem;
}
.gameInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  > p {
    color: #ffcc0a;
    font-weight: 700;
  }
}
.endDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p {
    font-size: 2rem;
  }
  > form {
    display: flex;
    gap: 50px;
    > label {
      font-size: 2rem;
      background-color: black;
      padding: 10px;
      border-radius: 15px;
      &:focus-within {
        outline: solid 2px #ffcc0a;
      }
      > input {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        outline: none;
        color: #ffcc0a;
      }
    }
  }
}
