h2 {
  color: #ffcc0a;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}
h3 {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffcc0a;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #ffb50a;
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.9);
  }
}
styles.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
