.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  anchor-name: --card;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card.cardFlipped {
  animation: flip 0.5s;
  animation-fill-mode: forwards;
}
.card.cardNotFlipped {
  animation: flipBack 0.5s;
  animation-fill-mode: forwards;
}

.card > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.back {
  width: 100%;
  height: 100%;
  position-anchor: --card;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(../assets/pokeback.png);
  background-size: cover;
  z-index: 2;
  border-radius: 4px;
  backface-visibility: hidden;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    transform: rotateY(180deg);
    scale: 1;
  }
}
@keyframes flipBack {
  0% {
    transform: rotateY(180deg);
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    transform: rotateY(0deg);
    scale: 1;
  }
}
