.scoreboardDiv {
  position-anchor: --tab;
  position-area: top left;
  position: absolute;
  display: flex;
  max-height: 700px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  border: #ffcc0a 3px solid;
  overflow-y: auto;
}
.table {
  padding: 10px;
  border-collapse: collapse;
  text-align: center;

}
.th,
.td {
  padding: 15px;
}

.tr:nth-child(even) {
  background-color: rgb(0, 0, 0);
  > td {
    > p {
      color: #ffcc0a;
    }
  }
}
.tr:nth-child(odd) {
  background-color: #ffce0a;
  > td {
    > p {
      color: black;
    }
  }
}
.tab {
  position: fixed;
  right: 10px;
  bottom: 10px;
  anchor-name: --tab;
}

