body {
  background-image: url(./assets/pokemon-eevee-sleeping-in-flowers-art-desktop-wallpaper-4k.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: white;
}

h1 {
  font-family: "Pokemon";
  font: 5rem "Pokemon";
  color: #ffcc0a;
  text-shadow:
    -0.2rem -0.2rem 0 #3b6bb2,
    0.2rem -0.2rem 0 #3b6bb2,
    -0.2rem 0.2rem 0 #3b6bb2,
    0.2rem 0.2rem 0 #3b6bb2;
}
.darkened {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
main {
  width: 100vw;
}
.Loading {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 45%;
  left: 45%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input {
  color: black;
}
:focus {
  outline: 2px #ffcc0a solid;
}
